{% extends "::base.html.twig" %}

{% block title %}FormationVocabulaireBundle:Impression:impressionCorpsGlossaire{% endblock %}

{% block body %}
<h1>Welcome to the Impression:impressionCorpsGlossaire page</h1>
{% endblock %}
