{% extends 'base.html.twig' %}

{% block body %}
   <div id="conteneur">
			<br/><br/><br/>
			<ul class="menu">
				<li class="PrincipalPetit"><a href="{{ path('consulter_prototype') }}"><strong>Base des prototypes par société</strong></a></li>
				<li class="PrincipalPetit"><a href="{{ path('mise_a_jour_vocab') }}"><strong>Importation</strong></a></li>	
				<li class="PrincipalPetit"><a href="{{ path('stat') }}"><strong>Statistiques globales de la base</strong></a></li>	
			</ul>
		</div>
{% endblock %}