{% extends 'base.html.twig' %}

{% block body %}
   <div id="conteneur">
			<br/><br/><br/>
			<ul class="menu">
				<li class="PrincipalPetit"><a href="{{path('adminpage')}}"><strong>Menu administrateur</strong></a></li>	
				<li class="PrincipalPetit"><a href="#"><strong>Menu producteur</strong></a></li>	
			</ul>
		</div>
{% endblock %}