{% extends 'base.html.twig' %}

{% block body %}
    <div id="conteneur">
        <br/><br/><br/>
        <ul class="menu">
            <li class="PrincipalPetit"><a href="#"><strong>Moteur de recherche</strong></a></li>
            <li class="PrincipalPetit"><a href="{{ path('recherche_thematique') }}"><strong>recherche par secteur d'activité</strong></a></li>
            <li class="PrincipalPetit"><a href="{{ path('recherche_le') }}"><strong>recherche par intitulé de LE</strong></a></li>
            <li class="PrincipalPetit"><a href="{{ path('consulter_vocabulaire_par_theme') }}"><strong>recherche par expression</strong></a></li>
            <li class="PrincipalPetit"><a href="{{ path('gestion_contenu_LE_generique') }}"><strong>gestion des contenus des LE génériques</strong></a></li>
        </ul>
    </div>
{% endblock %}