{% extends 'base.html.twig' %}

{% block body %}
   <div id="conteneur">
			<br/><br/><br/>
			<ul class="menu">
				<li class="PrincipalPetit"><a href="{{ path('stat') }}"><strong>Statistiques globales de la base</strong></a></li>
				<li class="PrincipalPetit"><a href="{{ path('stat_generique') }}"><strong>nombre d'occurrences des LE génériques dans les prototypes</strong></a></li>
			</ul>
		</div>
{% endblock %}