body{
    font-size : 11pt;
}
.pointpoint
{
    width:100px;
}
.titremangamanga
{
    color: #0000ff;
    font: bold;
    margin-top: 0.9cm;
}
.numpage1 {
    /*border: 2px solid green;*/
    clear: both;
    float: right;
    font-size: 16pt;
    top : 35cm;
    position: inherit; 
    padding-right: 1cm;
    margin-left: 15cm;
    padding-top: 0.5cm;
}

.numpage2 {
    /* border: 2px solid green;*/
    clear: both;
    float: right;
    font-size: 16pt;
    top : 35cm;
    position: inherit; 
    margin-left: 15cm;
    padding-right: 1cm;
    padding-top: 0.5cm;

}
.cadre{
   /* border: 2px solid green; */
    height: 25cm;
    position: inherit;
}

.numpage11 {
    /*border: 2px solid green;*/
    clear: both;
    float: right;
    font-size: 16pt;
    position: relative;
    top: 26cm; 
    padding-right: 1cm;
    margin-left: 19cm;
    padding-top: 0.5cm;
}

.numpage22 {
    /* border: 2px solid green;*/
    clear: both;
    float: right;
    font-size: 16pt;
    position: relative;
    top: 26cm;  
    margin-left: 19cm;
    padding-right: 1cm;
    padding-top: 0.5cm;

}
.nomprototype1 {
    /* border: 2px solid green;*/
    font-size: 17pt;
    position: relative;
    top: 16cm;
    color: #0000ff;

}

.nomprototype2 {
    /* border: 2px solid green;*/
    font-size: 17pt;
    position: relative;
    color: #0000ff;

    top: 16cm;
}
table tr td{
    font-family: times new roman;
    font-size: 16pt;
    padding-top: 0.25cm;
    padding-bottom: 0.25cm;
}

.tableMatiere {
    font-size: 9pt;
    font-family: times new roman;
}
.conteneur {
    /* border: 2px solid green;*/
    height: 23cm;
    width: 100%;
    position: inherit;
}
.colonne1 {
    /* border: 2px solid green;*/
    width: 24cm;
    height: 37cm;
    float: left;
    position: inherit;

}
.colonne2 {
    /* border: 2px solid green;*/
    width: 24cm;
    height: 37cm;
    float: right;

    position: inherit;

}

.glossaire {
    /* border: 2px solid green;*/
    height: 26cm;
    width: 100%;
    position: inherit;
}

.spacer{
    height: 1cm;
}

.page {
    /* border: 2px solid green;*/
    height: 37cm;
    width: 53cm;
    position: inherit;
    margin: 1cm;
}
