body{
    font-size : 11pt;
}
.pointpoint
{
    width:100px;
}
.numpage1 {
    /*border: 2px solid green;*/
    clear: both;
    float: right;
   
    top : 90%;
    position: absolute; 
    margin-left: 90%;
}

.numpage2 {
   /* border: 2px solid green;*/
    clear: both;
    float: right;
   
    top : 90%;
    position: absolute; 
    margin-left: 90%;
}
.nomprototype1 {
    /*border: 2px solid green;*/
    clear: both;
    float: right;
    font-size: 9pt;
    position: relative;
    /*top : 18mm;*/
    margin-left: 45mm;
}

.nomprototype2 {
    /*border: 2px solid green;*/
    clear: both;
    float: right;
    font-size: 9pt;
    position: relative;
    /*top : 18mm;*/
    margin-left: 45mm;
}
table tr td{
    font-family: times new roman;
    font-size: 11pt;
}
.tableMatiere {
    font-size: 9pt;
    font-family: times new roman;
}
.conteneur {
    height: 23cm;
    width: 100%;
    overflow: hidden; /* Empêche le dépassement des flottants. */
    display: block; 
}
.colonne1 {
    /*border: 1px double red;*/
    width: 48%;
    height: 16.35cm;
    float: left;

    position: relative;

}
.colonne2 {
   /* border: 1px double red;*/
    width: 48%;
    height: 16.35cm;
    float: right;

    position: relative;

}
