body{
    font-size : 18pt;
}
.pointpoint
{
    width:100px;
}
.numpage1 {
    /*border: 2px solid green;*/
    clear: both;
    float: right;
    font-size: 9pt;
    position: absolute;
    top : 130mm;
    margin-left: 105mm;
}

.numpage2 {
    /*border: 2px solid green;*/
    clear: both;
    float: right;
    font-size: 9pt;
    position: absolute;
    top : 130mm;
    margin-left: 105mm;
}
.nomprototype1 {
    /*border: 2px solid green;*/
    clear: both;
    float: right;
    font-size: 12pt;
    position: relative;
    top : 50mm;
    margin-left: 45mm;
	color: #D2C8D4;
}

.nomprototype2 {
    /*border: 2px solid green;*/
    clear: both;
    float: right;
    font-size: 12pt;
    position: relative;
    top : 50mm;
    margin-left: 45mm;
	color: #D2C8D4;
}
table tr td{
    font-family: times new roman;
     font-size: 18pt;
}
.tableMatiere {
    font-size: 18pt;
    font-family: times new roman;
}
.conteneur {
   /* border: 2px solid green; */
    height: 37cm;
    width: 53cm;
    position: inherit;
    margin: 1cm;

    /*border: 1px solid white;
    overflow: hidden; 
    margin-bottom: 1.5mm;
    height: 20.9cm;
    width: 29.7cm;
    position: inherit;
    padding-left: 18mm;
padding-right: 18mm;
    top : 0;*/
}
.colonne1 {
   /* border: 2px solid red;*/
   width: 22cm;
    height: 37cm;
    float: left;
    padding-left: 18mm;
    padding-right: 18mm;
    position: relative;
    top : 18mm;
}
.colonne2 {
   /* border: 2px solid red;*/
    width: 22cm;
    height: 37cm;
    float: right;
    padding-left: 18mm;
    padding-right: 18mm;
    position: relative;
    top : 18mm;
}