body{
	font-size : 11pt;
}
.pointpoint
{
	width:100px;
}
.numpage1 {
	/*border: 2px solid green;*/
    clear: both;
    float: right;
    font-size: 8.5pt;
	position: absolute;
    top : 130mm;
	margin-left: 105mm;
}

.numpage2 {
	/*border: 2px solid green;*/
    clear: both;
    float: right;
    font-size: 8.5pt;
    position: absolute;
    top : 130mm;
	margin-left: 105mm;
}
.nomprototype1 {
	/*border: 2px solid green;*/
    clear: both;
    /*float: right;*/
    font-size: 7.5pt;
	position: relative;
    top : 50mm;
	margin-left: 45mm;
}

.nomprototype2 {
	/*border: 2px solid green;*/
    clear: both;
    /*float: right;*/
    font-size: 7.5pt;
    position: relative;
    top : 50mm;
	margin-left: 45mm;
}
table tr td{
	font-family: times new roman;
    font-size: 9.5pt;
}
.tableMatiere {
	font-size: 9pt;
	font-family: times new roman;
}
.conteneur {
	/*height: auto;  
	height: 209mm;
	width: 294mm;*/
	
	border: 1px solid white;
	overflow: hidden; /* Empêche le dépassement des flottants. */
	margin-bottom: 1.5mm;
	height: 20.9cm;
 	width: 29.7cm;
	position: relative;
	top : 0;
}
.colonne1 {
	/*border: 1px solid yellow;*/
	width: 111mm;
	height: 138.5mm;
	float: left;
	padding-left: 16mm;
    padding-right: 18mm;
	position: relative;
	top : 18mm;
}
.colonne2 {
	/*border: 1px double #000;*/
	width: 111mm;
	height: 138.5mm;
	float: right;
	padding-left: 18mm;
    padding-right: 18mm;
	position: relative;
	top : 18mm;
}